body, html{
  width: 100%;
  height: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(233, 233, 233);
}

a{
  color: black;
}

.test{
  color: black;
  background-color: "black";
  width: 100%;
}


header{
  margin: 40px 80px;
  display: flex;
}

.header-logo-div{
  width: 50px;
  height: 50px;
}

.main-logo-img{
  width: 100%;
  border-radius: 40px;
}

.menu-list{
  margin-right: 0;
  margin-left: auto;
}

.menu-list ol{
  list-style: none;
  float: left;
}

.menu-list li{
  float: left;
  margin: 0 35px;
}

.menu-list li::after{
  content: "";
  display: block;
  border-bottom: 2px black;
  transition: width 250ms ease-out;
  left: auto;
  right: 0;
  width: 0;
  height: 2px;
}

.menu-list li:hover::after{
  right: auto;
  left: 0;
  width: 100%;
  background-color: rebeccapurple;
}

/* 메인페이지 css */
.main-div{
  width: 100%;
  height: 100vw;
  display: flex;
  margin: 150px 80px;
}

.main-left-div{
  width: 40%;
  height: 200px;
}

.main-title-label{
  font-size: 90px;
  font-weight: bold;
}

.main-explanation-label{
  display: block;
}

.main-left-image{
  width: 90%;
  height: 200px;
  background-color: aqua;
  margin: 80px 0;
}

/* 메인페이지 가운데 css */
.main-center-div{
  width: 20%;
  height: 450px;
  margin-top: 200px;
  background-color: rgb(138, 207, 221);
}


/* 메인페이지 가운데 css */

/* 메인페이지 오른쪽 css */
.main-right-div{
  width: 20%;
  overflow: hidden;
  position: relative;
  height: 600px;
  margin: 0 40px;
  background-color: brown;
}

.main-right-slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slide 7.5s infinite;
}

.main-right-slider img{
  width: 100%;
  height: 100%;
}

.main-right-slider:nth-child(1){
  animation-delay: 0;
}

.main-right-slider:nth-child(2){
  animation-delay: -2.5s;
}

.main-right-slider:nth-child(3){
  animation-delay: -5s;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  26.9% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  93% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* 메인페이지 오른쪽 css */


/* 메인페이지 css */


footer{
  width: 100%;
  height: 135px;
  background-color: white;
  position : absolute;
  transform : translateY(-100%);
  display: flex;
}

.footer-first-content-div{
  width: 20%;
  margin: 30px 40px;
}

.footer-first-content-div div:first-child{
  display: flex;
}

.footer-search-content-div{
  width: 50%;
  margin: 30px 40px;
}

.footer-ins-logo-div{
  width: 10%;
  margin: 30px 40px;
  display: flex;
}

.footer-ins-logo-div img{
  width: 20px;
  height: 20px;
  margin: auto;
}

.footer-point-font{
  font-size: 40px;
}

.footer-point-font + label{
  font-size: 15px;
  line-height: 20px;
  margin-top: 6px;
  margin-left: 5px;
  margin-bottom: auto;
}

.footer-search-content-div input{
  width: 93%;
  border: none;
  border-bottom: 2px solid black;
}
.footer-search-content-div input:focus{
  outline: none;
}
.footer-search-content-div img{
  width: 5%;
}
.footer-search-box{
  width: 80%;
  height: 30px;
  margin: 28px auto;
}